Repository cmb84scd/animal-fact-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, safety, bandit, test

ruff:
  name: ruff
  entry: just ruff
  language: system

format:
  name: format
  entry: poetry run ruff format --check
  language: system

safety:
  name: safety
  entry: poetry run safety scan
  language: system

bandit:
  name: bandit
  entry: poetry run bandit -r animal_fact_api -q
  language: system

test:
  name: test
  entry: poetry run python manage.py test animal_fact_api.tests.unit_tests
  language: system

Try to migrate again
  .github/workflows/pipeline.yml
Due: none

Create database first
  .github/workflows/pipeline.yml
Due: none

Add db username secret
  .github/workflows/pipeline.yml
Due: none

Run tests
  .github/workflows/pipeline.yml
Due: none

Move env secrets to job level
  .github/workflows/pipeline.yml
Due: none

Add coverage summary creation in pipeline
  .github/workflows/pipeline.yml
  justfile
Due: none

Add coverage to github step summary
  .github/workflows/pipeline.yml
Due: none

Add coverage report to pull request
  .github/workflows/pipeline.yml
Due: none

Uncomment pipeline jobs
  .github/workflows/pipeline.yml
Due: none

Update just test recipe names
  .github/workflows/pipeline.yml
  .pre-commit-config.yaml
  justfile
Due: none

Add if statement to PR comment creation step
  .github/workflows/pipeline.yml
Due: none

Add test job to pipeline (#8)
  .github/workflows/pipeline.yml
  .pre-commit-config.yaml
  justfile
Due: none

Update readme
  README.md
Due: none

Add minor updates to the readme.
  README.md
Due: none

Documentation (#9)
  README.md
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Update safety policy
  .safety-policy.yml
Due: none

Update dependencies (#10)
  .safety-policy.yml
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Add coverage config file and adjust config
  .coveragerc
  justfile
Due: test

Coverage config (#11)
  .coveragerc
  justfile
  poetry.lock
  pyproject.toml
Due: ruff, format, safety, test

Remove decouple, update deps and safety policy
  .safety-policy.yml
  animal_fact_api/settings.py
  poetry.lock
  pyproject.toml
Due: ruff, format, safety, test

Further update to safety policy
  .safety-policy.yml
Due: none

Update settings file and add procfile
  Procfile
  animal_fact_api/settings.py
  poetry.lock
  pyproject.toml
Due: ruff, format, safety, test

Update procfile and add koyeb config
  Procfile
  koyeb.yaml
Due: none

Delete koyeb config, amend procfile and add requirements
  Procfile
  koyeb.yaml
  requirements.txt
Due: none

Amend python version
  .python-version
  poetry.lock
  pyproject.toml
  requirements.txt
Due: ruff, format, safety

Remove procfile
  Procfile
Due: none

Change python version back to 3.12
  .python-version
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Re-add decouple and amend debug var
  animal_fact_api/settings.py
  poetry.lock
  pyproject.toml
Due: ruff, format, safety, test

Update requirements file
  requirements.txt
Due: none

Deployment updates (#12)
  .safety-policy.yml
  animal_fact_api/settings.py
  poetry.lock
  pyproject.toml
  requirements.txt
Due: ruff, format, safety, test

Path conditions:
  ruff: any of: (^pyproject\.toml|\.py)$, but not: ^animal_fact_api/facts/migrations
  format: any of: (^pyproject\.toml|\.py)$, but not: ^animal_fact_api/facts/migrations
  safety: any of: poetry.lock
  bandit: any of: (^\.bandit|^animal_fact_api/)$
  test: any of: (^\.coveragerc|\.py)$
