Repository cmb84scd/animal-fact-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, format, safety, bandit

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: ruff
        name: ruff
        entry: just ruff
        language: system
        files: (^pyproject\.toml|\.py)$
    -   id: format
        name: format
        entry: just format
        language: system
        files: (^pyproject\.toml|\.py)$
    -   id: safety
        name: safety
        entry: just safety
        language: system
        files: poetry.lock
    -   id: bandit
        name: bandit
        entry: just bandit
        language: system
        files: (^\.bandit|^animal_fact-api\/.+\.py)$

Add string method to Facts model class
  animal_fact_api/facts/models.py
Due: ruff, format

Add DB to username and password to stop conflict
  animal_fact_api/settings.py
Due: ruff, format

Add facts app to admin and make facts table name singular
  animal_fact_api/facts/admin.py
  animal_fact_api/facts/migrations/0001_initial.py
  animal_fact_api/facts/models.py
Due: ruff, format

Add django and facts app (#5)
  .gitignore
  .pre-commit-config.yaml
  animal_fact_api/__init__.py
  animal_fact_api/asgi.py
  animal_fact_api/facts/__init__.py
  animal_fact_api/facts/admin.py
  animal_fact_api/facts/apps.py
  animal_fact_api/facts/migrations/0001_initial.py
  animal_fact_api/facts/migrations/__init__.py
  animal_fact_api/facts/models.py
  animal_fact_api/facts/urls.py
  animal_fact_api/facts/views.py
  animal_fact_api/index.py
  animal_fact_api/settings.py
  animal_fact_api/urls.py
  animal_fact_api/wsgi.py
  justfile
  manage.py
  poetry.lock
  pyproject.toml
  ruff.toml
Due: ruff, format, safety

Update django and ruff
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Add djangorestframework and reorder deps
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Add views for all and individual facts
  animal_fact_api/facts/serializers.py
  animal_fact_api/facts/urls.py
  animal_fact_api/facts/views.py
  animal_fact_api/settings.py
Due: ruff, format

Add facts to url addresses
  animal_fact_api/facts/urls.py
Due: ruff, format

Add functionality to retrieve random fact
  animal_fact_api/facts/urls.py
  animal_fact_api/facts/views.py
Due: ruff, format

Update ruff and safety deps
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Add test for __str__ method, test db and update config
  animal_fact_api/settings.py
  animal_fact_api/tests/unit_tests/__init__.py
  animal_fact_api/tests/unit_tests/facts/__init__.py
  animal_fact_api/tests/unit_tests/facts/test_models.py
  justfile
  ruff.toml
Due: ruff, format

Add initial test for Fact view
  .pre-commit-config.yaml
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Add coverage
  justfile
  poetry.lock
  pyproject.toml
Due: ruff, format, safety

Fix test so that it tests correct code
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Add basic test command to justfile
  justfile
Due: none

Add test for random fact
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Refactor view tests to add setUp method
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Amend ruff and pre-commit config
  .pre-commit-config.yaml
  animal_fact_api/tests/unit_tests/facts/test_models.py
  animal_fact_api/tests/unit_tests/facts/test_views.py
  ruff.toml
Due: ruff, format

Add unit tests to pre-commit
  .pre-commit-config.yaml
Due: none

Amend test entry command in pre-commit
  .pre-commit-config.yaml
Due: none

Testing pre-commit
  .pre-commit-config.yaml
  justfile
Due: none

Adjust pre-commit config to use just recipes
  .pre-commit-config.yaml
  justfile
Due: none

Make tiny adjustment to the ruff config
  ruff.toml
Due: none

Update safety command in pre commit
  .pre-commit-config.yaml
Due: none

Add API views (#6)
  .pre-commit-config.yaml
  animal_fact_api/facts/serializers.py
  animal_fact_api/facts/urls.py
  animal_fact_api/facts/views.py
  animal_fact_api/settings.py
  animal_fact_api/tests/unit_tests/__init__.py
  animal_fact_api/tests/unit_tests/facts/__init__.py
  animal_fact_api/tests/unit_tests/facts/test_models.py
  animal_fact_api/tests/unit_tests/facts/test_views.py
  justfile
  poetry.lock
  pyproject.toml
  ruff.toml
Due: ruff, format, safety

Handle when no records in db table
  animal_fact_api/facts/views.py
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Refactor view tests
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Amend test name to better reflect what is being tested
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Update safety policy
  .safety-policy.yml
Due: none

Add error handling (#7)
  .safety-policy.yml
  animal_fact_api/facts/views.py
  animal_fact_api/tests/unit_tests/facts/test_views.py
Due: ruff, format

Set up database
  .github/workflows/pipeline.yml
Due: none

Amend psql command to access db
  .github/workflows/pipeline.yml
Due: none

Add env vars and try to migrate db
  .github/workflows/pipeline.yml
Due: none

Move secrets to after run
  .github/workflows/pipeline.yml
Due: none

Add secret key to env
  .github/workflows/pipeline.yml
Due: none

Add password as a secret
  .github/workflows/pipeline.yml
Due: none

Remove migrate command to recheck db setup
  .github/workflows/pipeline.yml
Due: none

Remove password and try to migrate again
  .github/workflows/pipeline.yml
Due: none

Set db user password
  .github/workflows/pipeline.yml
Due: none

Amend change user password command
  .github/workflows/pipeline.yml
Due: none
